<h1>Add A New Trail</h1>
<form action="/create" method="POST">
<label for="name">Trail Name:</label>
<input class="form-control" type="text" name="name">
<br>
<label for="description">Description:</label>
<input class="form-control" type="text" name="description">
<br>
<label for="Length">Trail Length:</label>
<input class="form-control" type="text" name="length">
<br>
<label for="Elevation">Elevation:</label>
<input class="form-control" type="text" name="elevation">
<br>
<label for="Longitude">Longitude:</label>
<input class="form-control w-50" type="text" name="longitude">
<label for="Latutide">Latitude:</label>
<input class="form-control w-50" type="text" name="latitude">
<br>
<button>Submit</button>
</form>

